{
  "swagger" : "2.0",
  "info" : {
    "version" : "0.1",
    "title" : "JSON API to FAIRDOM SEEK"
  },
  "host" : "www.fairdomhub.org",
  "basePath" : "/",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "search"
  }, {
    "name" : "yellow pages"
  }, {
    "name" : "experiments"
  }, {
    "name" : "assets"
  }, {
    "name" : "activities"
  }, {
    "name" : "samples"
  } ],
  "paths" : {
    "/search" : {
      "parameters" : [ {
        "name" : "q",
        "in" : "query",
        "required" : true,
        "description" : "The text to search for\n",
        "type" : "string",
        "default" : "lactate inhibition"
      }, {
        "name" : "search_type",
        "in" : "query",
        "required" : false,
        "description" : "The type of resource to return",
        "type" : "string",
        "enum" : [ "assays", "data_files", "events", "institutions", "investigations", "models", "people", "presentations", "programmes", "projects", "publications", "sample_types", "sops", "studies" ],
        "default" : "data_files"
      } ],
      "get" : {
        "operationId" : "search",
        "description" : "Search for resources\n* of the specified type\n* that are visible to the authenticated user, and\n* contain the specified test\n",
        "tags" : [ "search" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/searchResponse"
            }
          }
        }
      }
    },
    "/assays" : {
      "get" : {
        "operationId" : "assays",
        "description" : "List references to the assays that are visible to the authenticated user",
        "tags" : [ "experiments" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/assaysResponse"
            }
          }
        }
      },
      "post" : {
        "description" : "Create an assay containing the data sent",
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/assays/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The assay to be fetched, updated or deleted",
        "type" : "integer",
        "default" : 267
      } ],
      "get" : {
        "operationId" : "assay",
        "description" : "Return the specified assay",
        "tags" : [ "experiments" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/assayResponse"
            }
          }
        }
      },
      "patch" : {
        "description" : "Patch the specified assay with the specified information",
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "description" : "Delete the specified assay",
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/data_files" : {
      "get" : {
        "operationId" : "dataFiles",
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/dataFilesResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/data_files/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The data file to fetch",
        "type" : "integer",
        "default" : 1152
      } ],
      "get" : {
        "operationId" : "dataFile",
        "parameters" : [ {
          "name" : "version",
          "in" : "query",
          "required" : true,
          "description" : "The version of the data file to get",
          "type" : "integer",
          "default" : 2
        } ],
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/dataFileResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/data_files/{id}/content_blobs/{blob_id}/download" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The data file to fetch",
        "type" : "integer",
        "default" : 1152
      }, {
        "name" : "blob_id",
        "in" : "path",
        "required" : true,
        "description" : "The blob to download",
        "type" : "integer",
        "default" : 1831
      } ],
      "get" : {
        "operationId" : "downloadDataFile",
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "file"
            }
          }
        }
      }
    },
    "/events" : {
      "get" : {
        "operationId" : "events",
        "tags" : [ "activities" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/eventsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "activities" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/events/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The event to fetch",
        "type" : "integer",
        "default" : 75
      } ],
      "get" : {
        "operationId" : "event",
        "tags" : [ "activities" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/eventResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "activities" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "activities" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/institutions" : {
      "get" : {
        "operationId" : "institutions",
        "tags" : [ "yellow pages" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/institutionsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/institutions/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The institution to fetch",
        "type" : "integer",
        "default" : 142
      } ],
      "get" : {
        "operationId" : "institution",
        "tags" : [ "yellow pages" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/institutionResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/investigations" : {
      "get" : {
        "operationId" : "investigations",
        "tags" : [ "experiments" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/investigationsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/investigations/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The investigation to fetch",
        "type" : "integer",
        "default" : 56
      } ],
      "get" : {
        "operationId" : "investigation",
        "tags" : [ "experiments" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/investigationResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/models" : {
      "get" : {
        "operationId" : "models",
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/modelsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/models/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The model to fetch",
        "type" : "integer",
        "default" : 139
      } ],
      "get" : {
        "operationId" : "model",
        "parameters" : [ {
          "name" : "version",
          "in" : "query",
          "required" : true,
          "description" : "The version of the model to get",
          "type" : "integer",
          "default" : 2
        } ],
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/modelResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/models/{id}/content_blobs/{blob_id}/download" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The model to fetch",
        "type" : "integer",
        "default" : 139
      }, {
        "name" : "blob_id",
        "in" : "path",
        "required" : true,
        "description" : "The blob to download",
        "type" : "integer",
        "default" : 1850
      } ],
      "get" : {
        "operationId" : "downloadModel",
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "file"
            }
          }
        }
      }
    },
    "/organisms" : {
      "get" : {
        "operationId" : "organisms",
        "tags" : [ "samples" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/organismsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "samples" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/organisms/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The organism to fetch",
        "type" : "integer",
        "default" : 1933753696
      } ],
      "get" : {
        "operationId" : "organism",
        "tags" : [ "samples" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/organismResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "samples" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "samples" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/people" : {
      "get" : {
        "operationId" : "people",
        "tags" : [ "yellow pages" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/peopleResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/people/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The person to fetch",
        "type" : "integer",
        "default" : 433
      } ],
      "get" : {
        "operationId" : "person",
        "tags" : [ "yellow pages" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/personResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/presentations" : {
      "get" : {
        "operationId" : "presentations",
        "tags" : [ "activities" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/presentationsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "activities" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/presentations/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The presentation to fetch",
        "type" : "integer",
        "default" : 253
      } ],
      "get" : {
        "operationId" : "presentation",
        "parameters" : [ {
          "name" : "version",
          "in" : "query",
          "required" : true,
          "description" : "The version of the presentation to get",
          "type" : "integer",
          "default" : 1
        } ],
        "tags" : [ "activities" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/presentationResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "activities" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "activities" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/presentations/{id}/content_blobs/{blob_id}/download" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The presentation to fetch",
        "type" : "integer",
        "default" : 377
      }, {
        "name" : "blob_id",
        "in" : "path",
        "required" : true,
        "description" : "The blob to download",
        "type" : "integer",
        "default" : 3215
      } ],
      "get" : {
        "operationId" : "downloadPresentation",
        "tags" : [ "activities" ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "file"
            }
          }
        }
      }
    },
    "/programmes" : {
      "get" : {
        "operationId" : "programmes",
        "tags" : [ "yellow pages" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/programmesResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/programmes/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The programme to fetch",
        "type" : "integer",
        "default" : 3
      } ],
      "get" : {
        "operationId" : "programme",
        "tags" : [ "yellow pages" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/programmeResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/projects" : {
      "get" : {
        "tags" : [ "yellow pages" ],
        "operationId" : "projects",
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/projectsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/projects/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The project to fetch",
        "type" : "integer",
        "default" : 17
      } ],
      "get" : {
        "operationId" : "project",
        "tags" : [ "yellow pages" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/projectResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "yellow pages" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/publications" : {
      "get" : {
        "operationId" : "publications",
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/publicationsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/publications/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The publication to fetch",
        "type" : "integer",
        "default" : 240
      } ],
      "get" : {
        "operationId" : "publication",
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/publicationResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/sample_types" : {
      "get" : {
        "operationId" : "sampleTypes",
        "tags" : [ "samples" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/sampleTypesResponse"
            }
          }
        }
      }
    },
    "/sops" : {
      "get" : {
        "operationId" : "sops",
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/sopsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/sops/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The SOP to fetch",
        "type" : "integer",
        "default" : 203
      } ],
      "get" : {
        "operationId" : "sop",
        "parameters" : [ {
          "name" : "version",
          "in" : "query",
          "required" : true,
          "description" : "The version of the sop to get",
          "type" : "integer",
          "default" : 1
        } ],
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/sopResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "assets" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    },
    "/sops/{id}/content_blobs/{blob_id}/download" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The SOP to fetch",
        "type" : "integer",
        "default" : 203
      }, {
        "name" : "blob_id",
        "in" : "path",
        "required" : true,
        "description" : "The blob to download",
        "type" : "integer",
        "default" : 1806
      } ],
      "get" : {
        "operationId" : "downloadSop",
        "tags" : [ "assets" ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "file"
            }
          }
        }
      }
    },
    "/studies" : {
      "get" : {
        "operationId" : "studies",
        "tags" : [ "experiments" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/studiesResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemente"
          }
        }
      }
    },
    "/studies/{id}" : {
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "description" : "The study to fetch",
        "type" : "integer",
        "default" : 138
      } ],
      "get" : {
        "operationId" : "study",
        "tags" : [ "experiments" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/studyResponse"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      },
      "delete" : {
        "tags" : [ "experiments" ],
        "responses" : {
          "501" : {
            "description" : "Not implemented"
          }
        }
      }
    }
  },
  "definitions" : {
    "dateTimeString" : {
      "type" : "string",
      "minLength" : 1,
      "format" : "date-time"
    },
    "nonEmptyString" : {
      "type" : "string",
      "minLength" : 1
    },
    "nullableNonEmptyString" : {
      "type" : "string",
      "minLength" : 1,
      "x-nullable" : true
    },
    "nonEmptyStringList" : {
      "type" : "array",
      "minItems" : 1,
      "items" : {
        "$ref" : "#/definitions/nonEmptyString"
      }
    },
    "nullableNonEmptyStringList" : {
      "type" : "array",
      "minItems" : 1,
      "x-nullable" : true,
      "items" : {
        "$ref" : "#/definitions/nonEmptyString"
      }
    },
    "uriString" : {
      "type" : "string",
      "minLength" : 1,
      "format" : "uri"
    },
    "nullableUriString" : {
      "type" : "string",
      "minLength" : 1,
      "format" : "uri",
      "x-nullable" : true
    },
    "versionNumber" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "1.0" ]
    },
    "JsonApiVersion" : {
      "type" : "object",
      "properties" : {
        "version" : {
          "$ref" : "#/definitions/versionNumber"
        }
      },
      "required" : [ "version" ]
    },
    "linksType" : {
      "type" : "object",
      "properties" : {
        "self" : {
          "$ref" : "#/definitions/uriString"
        }
      },
      "required" : [ "self" ]
    },
    "metaType" : {
      "type" : "object",
      "properties" : {
        "created" : {
          "$ref" : "#/definitions/dateTimeString"
        },
        "modified" : {
          "$ref" : "#/definitions/dateTimeString"
        },
        "uuid" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "base_url" : {
          "$ref" : "#/definitions/uriString"
        }
      },
      "required" : [ "created", "modified", "uuid", "base_url" ]
    },
    "baseMetaType" : {
      "type" : "object",
      "properties" : {
        "base_url" : {
          "$ref" : "#/definitions/uriString"
        }
      },
      "required" : [ "base_url" ],
      "additionalProperties" : false
    },
    "contributedTypeAttributes" : {
      "type" : "object",
      "properties" : {
        "tags" : {
          "$ref" : "#/definitions/tagsType"
        },
        "title" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "description" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "license" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "latest_version" : {
          "type" : "number"
        },
        "versions" : {
          "type" : "array",
          "minItems" : 1,
          "uniqueItems" : true,
          "items" : {
            "properties" : {
              "version" : {
                "type" : "number"
              },
              "revision_comments" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "url" : {
                "$ref" : "#/definitions/uriString"
              }
            },
            "required" : [ "version", "revision_comments", "url" ],
            "additionalProperties" : false
          }
        },
        "version" : {
          "type" : "number"
        },
        "revision_comments" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "created_at" : {
          "type" : "string",
          "minLength" : 1
        },
        "updated_at" : {
          "type" : "string",
          "minLength" : 1
        },
        "content_blobs" : {
          "type" : "array",
          "minItems" : 0,
          "uniqueItems" : true,
          "items" : {
            "properties" : {
              "original_filename" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "url" : {
                "$ref" : "#/definitions/nullableUriString"
              },
              "md5sum" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "sha1sum" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "content_type" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "link" : {
                "$ref" : "#/definitions/uriString"
              },
              "size" : {
                "type" : "integer"
              }
            },
            "required" : [ "original_filename", "url", "md5sum", "sha1sum", "content_type", "link", "size" ],
            "additionalProperties" : false
          }
        },
        "policy" : {
          "$ref" : "#/definitions/policy"
        }
      },
      "required" : [ "title", "license", "latest_version", "versions", "version", "created_at", "updated_at", "content_blobs" ],
      "additionalProperties" : false
    },
    "policy" : {
      "type" : "object",
      "properties" : {
        "access" : {
          "$ref" : "#/definitions/accessType"
        },
        "permissions" : {
          "type" : "array",
          "minItems" : 0,
          "uniqueItems" : true,
          "items" : {
            "properties" : {
              "resource_type" : {
                "$ref" : "#/definitions/nonEmptyString"
              },
              "resource_id" : {
                "$ref" : "#/definitions/nonEmptyString"
              },
              "access" : {
                "$ref" : "#/definitions/accessType"
              }
            },
            "required" : [ "resource_type", "resource_id", "access" ],
            "additionalProperties" : false
          }
        }
      },
      "required" : [ "access", "permissions" ],
      "additionalProperties" : false
    },
    "accessType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "manage", "edit", "download", "view", "no_access" ]
    },
    "modelAttributes" : {
      "type" : "object",
      "properties" : {
        "tags" : {
          "$ref" : "#/definitions/tagsType"
        },
        "title" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "description" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "license" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "latest_version" : {
          "type" : "number"
        },
        "versions" : {
          "type" : "array",
          "minItems" : 1,
          "uniqueItems" : true,
          "items" : {
            "properties" : {
              "version" : {
                "type" : "number"
              },
              "revision_comments" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "url" : {
                "$ref" : "#/definitions/uriString"
              }
            },
            "required" : [ "version", "revision_comments", "url" ],
            "additionalProperties" : false
          }
        },
        "version" : {
          "type" : "number"
        },
        "revision_comments" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "created_at" : {
          "type" : "string",
          "minLength" : 1
        },
        "updated_at" : {
          "type" : "string",
          "minLength" : 1
        },
        "content_blobs" : {
          "type" : "array",
          "minItems" : 0,
          "uniqueItems" : true,
          "items" : {
            "properties" : {
              "original_filename" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "url" : {
                "$ref" : "#/definitions/nullableUriString"
              },
              "md5sum" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "sha1sum" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "content_type" : {
                "$ref" : "#/definitions/nullableNonEmptyString"
              },
              "link" : {
                "$ref" : "#/definitions/uriString"
              },
              "size" : {
                "type" : "integer"
              }
            },
            "required" : [ "original_filename", "url", "md5sum", "sha1sum", "content_type", "link", "size" ],
            "additionalProperties" : false
          }
        },
        "model_type" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "model_format" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "environment" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "policy" : {
          "$ref" : "#/definitions/policy"
        }
      },
      "required" : [ "title", "license", "latest_version", "versions", "version", "created_at", "updated_at", "content_blobs", "model_type", "model_format", "environment" ],
      "additionalProperties" : false
    },
    "anyType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "assays", "content_blobs", "data_files", "events", "models", "organisms", "people", "presentations", "programmes", "projects", "publications", "sample_types", "sops", "studies" ]
    },
    "assayType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "assays" ]
    },
    "assayReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/assayReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "assayAttributes" : {
      "type" : "object",
      "properties" : {
        "tags" : {
          "$ref" : "#/definitions/tagsType"
        },
        "title" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "description" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "assay_class" : {
          "type" : "object",
          "properties" : {
            "title" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "key" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "description" : {
              "type" : "string"
            }
          },
          "required" : [ "title", "key" ],
          "additionalProperties" : false
        },
        "assay_type" : {
          "type" : "object",
          "properties" : {
            "label" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "uri" : {
              "$ref" : "#/definitions/uriString"
            }
          },
          "required" : [ "label", "uri" ],
          "additionalProperties" : false
        },
        "technology_type" : {
          "type" : "object",
          "properties" : {
            "label" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "uri" : {
              "$ref" : "#/definitions/uriString"
            }
          },
          "required" : [ "label", "uri" ]
        }
      },
      "required" : [ "title", "description", "assay_class", "assay_type", "technology_type" ],
      "additionalProperties" : false
    },
    "contentBlobType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "content_blobs" ]
    },
    "dataFileType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "data_files" ]
    },
    "dataFileReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/dataFileReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "eventType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "events" ]
    },
    "eventReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/eventReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "investigationType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "investigations" ]
    },
    "investigationReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/investigationReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "investigationSingletonReference" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/investigationReference"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "institutionType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "institutions" ]
    },
    "institutionReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/institutionReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "modelType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "models" ]
    },
    "modelReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/modelReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "organismType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "organisms" ]
    },
    "organismReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/organismType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "organismReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/organismReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "peopleType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "people" ]
    },
    "peopleReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/peopleType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "peopleReferenceList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/peopleReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "presentationType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "presentations" ]
    },
    "presentationReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/presentationReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "programmeType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "programmes" ]
    },
    "programmeReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/programmeReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "programmeDataType" : {
      "type" : "object",
      "properties" : {
        "avatar" : {
          "$ref" : "#/definitions/nullableUriString"
        },
        "title" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "description" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "web_page" : {
          "$ref" : "#/definitions/nullableUriString"
        },
        "funding_details" : {
          "$ref" : "#/definitions/nullableNonEmptyString"
        },
        "funding_codes" : {
          "$ref" : "#/definitions/tagsType"
        }
      },
      "required" : [ "avatar", "title", "description", "web_page", "funding_details", "funding_codes" ],
      "additionalProperties" : false
    },
    "projectType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "projects" ]
    },
    "projectReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/projectReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "publicationType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "publications" ]
    },
    "publicationReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/publicationReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "sampleTypeType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "sample_types" ]
    },
    "sampleTypeReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/sampleTypeType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "sampleTypeReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/sampleTypeReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "sopType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "sops" ]
    },
    "sopReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/sopReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "studyType" : {
      "type" : "string",
      "minLength" : 1,
      "enum" : [ "studies" ]
    },
    "studyReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/studyType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "studyReferencesList" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/studyReferences"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "studySingletonReference" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/studyReference"
        }
      },
      "required" : [ "data" ],
      "additionalProperties" : false
    },
    "tagsType" : {
      "$ref" : "#/definitions/nullableNonEmptyStringList"
    },
    "anySkeleton" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/anyType"
        },
        "attributes" : {
          "type" : "object",
          "properties" : {
            "title" : {
              "$ref" : "#/definitions/nonEmptyString"
            }
          },
          "required" : [ "title" ],
          "additionalProperties" : false
        },
        "links" : {
          "$ref" : "#/definitions/linksType"
        }
      },
      "required" : [ "id", "type", "attributes", "links" ],
      "additionalProperties" : false
    },
    "anySkeletons" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/anySkeleton"
      }
    },
    "assayReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/assayType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "assayReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/assayReference"
      }
    },
    "assaySkeleton" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/assayType"
        },
        "attributes" : {
          "type" : "object",
          "properties" : {
            "title" : {
              "$ref" : "#/definitions/nonEmptyString"
            }
          },
          "required" : [ "title" ],
          "additionalProperties" : false
        },
        "links" : {
          "$ref" : "#/definitions/linksType"
        }
      },
      "required" : [ "id", "type", "attributes", "links" ],
      "additionalProperties" : false
    },
    "assaySkeletons" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/assaySkeleton"
      }
    },
    "dataFileReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/dataFileReference"
      }
    },
    "dataFileReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/dataFileType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "dataFileSkeleton" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/dataFileType"
        },
        "attributes" : {
          "type" : "object",
          "properties" : {
            "title" : {
              "$ref" : "#/definitions/nonEmptyString"
            }
          },
          "required" : [ "title" ],
          "additionalProperties" : false
        },
        "links" : {
          "$ref" : "#/definitions/linksType"
        }
      },
      "required" : [ "id", "type", "attributes", "links" ],
      "additionalProperties" : false
    },
    "dataFileSkeletons" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/dataFileSkeleton"
      }
    },
    "eventReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/eventReference"
      }
    },
    "eventReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/eventType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "investigationReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/investigationReference"
      }
    },
    "investigationReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/investigationType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "institutionReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/institutionReference"
      }
    },
    "institutionReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/institutionType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "modelReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/modelReference"
      }
    },
    "modelReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/modelType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "organismReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/organismReference"
      }
    },
    "peopleReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/peopleReference"
      }
    },
    "presentationReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/presentationReference"
      }
    },
    "presentationReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/presentationType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "programmeReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/programmeReference"
      }
    },
    "programmeReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/programmeType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "projectReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/projectReference"
      }
    },
    "projectReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/projectType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "publicationReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/publicationReference"
      }
    },
    "publicationReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/publicationType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "sampleTypeReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/sampleTypeReference"
      }
    },
    "sopReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/sopReference"
      }
    },
    "sopReference" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/sopType"
        }
      },
      "required" : [ "id", "type" ],
      "additionalProperties" : false
    },
    "studyReferences" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/studyReference"
      }
    },
    "searchResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/anySkeletons"
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        },
        "links" : { },
        "meta" : {
          "$ref" : "#/definitions/baseMetaType"
        }
      },
      "required" : [ "data", "jsonapi", "links", "meta" ],
      "additionalProperties" : false
    },
    "assayResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/assayType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "tags" : {
                  "$ref" : "#/definitions/nullableNonEmptyStringList"
                },
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "description" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "assay_class" : {
                  "type" : "object",
                  "properties" : {
                    "title" : {
                      "$ref" : "#/definitions/nonEmptyString"
                    },
                    "key" : {
                      "$ref" : "#/definitions/nonEmptyString"
                    },
                    "description" : {
                      "$ref" : "#/definitions/nullableNonEmptyString"
                    }
                  },
                  "required" : [ "title", "key" ],
                  "additionalProperties" : false
                },
                "assay_type" : {
                  "type" : "object",
                  "properties" : {
                    "label" : {
                      "$ref" : "#/definitions/nonEmptyString"
                    },
                    "uri" : {
                      "$ref" : "#/definitions/uriString"
                    }
                  },
                  "required" : [ "label", "uri" ],
                  "additionalProperties" : false
                },
                "technology_type" : {
                  "type" : "object",
                  "properties" : {
                    "label" : {
                      "$ref" : "#/definitions/nonEmptyString"
                    },
                    "uri" : {
                      "$ref" : "#/definitions/uriString"
                    }
                  },
                  "required" : [ "label", "uri" ],
                  "additionalProperties" : false
                },
                "policy" : {
                  "$ref" : "#/definitions/policy"
                }
              },
              "required" : [ "title", "assay_class", "assay_type", "technology_type" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "creators" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "submitter" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "organisms" : {
                  "$ref" : "#/definitions/organismReferencesList"
                },
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "investigation" : {
                  "$ref" : "#/definitions/investigationSingletonReference"
                },
                "study" : {
                  "$ref" : "#/definitions/studySingletonReference"
                },
                "data_files" : {
                  "$ref" : "#/definitions/dataFileReferencesList"
                },
                "models" : {
                  "$ref" : "#/definitions/modelReferencesList"
                },
                "sops" : {
                  "$ref" : "#/definitions/sopReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                }
              },
              "required" : [ "creators", "submitter", "organisms", "people", "projects", "investigation", "study", "data_files", "models", "sops", "publications" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "getContentBlobsResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "original_filename" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "url" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "md5sum" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "sha1sum" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "content_type" : {
                  "$ref" : "#/definitions/contentBlobType"
                }
              },
              "required" : [ "original_filename", "md5sum", "sha1sum", "content_type" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "dataFileResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/dataFileType"
            },
            "attributes" : {
              "$ref" : "#/definitions/contributedTypeAttributes"
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "creators" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "submitter" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "investigations" : {
                  "$ref" : "#/definitions/investigationReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                },
                "events" : {
                  "$ref" : "#/definitions/eventReferencesList"
                }
              },
              "required" : [ "creators", "submitter", "people", "projects", "investigations", "studies", "assays", "publications", "events" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "eventResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/eventType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "description" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "url" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "address" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "city" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "country" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "start_date" : {
                  "$ref" : "#/definitions/dateTimeString"
                },
                "end_date" : {
                  "$ref" : "#/definitions/dateTimeString"
                },
                "policy" : {
                  "$ref" : "#/definitions/policy"
                }
              },
              "required" : [ "title", "description", "start_date", "end_date" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "data_files" : {
                  "$ref" : "#/definitions/dataFileReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                },
                "presentations" : {
                  "$ref" : "#/definitions/presentationReferencesList"
                }
              },
              "required" : [ "projects", "data_files", "publications", "presentations" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "institutionResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/institutionType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "avatar" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "country" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "city" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "address" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "web_page" : {
                  "$ref" : "#/definitions/nullableUriString"
                }
              },
              "required" : [ "title", "country", "city", "address", "web_page" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                }
              },
              "required" : [ "people", "projects" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "investigationResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/investigationType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "tags" : {
                  "$ref" : "#/definitions/nullableNonEmptyStringList"
                },
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "description" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "policy" : {
                  "$ref" : "#/definitions/policy"
                }
              },
              "required" : [ "title" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "creators" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "submitter" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "data_files" : {
                  "$ref" : "#/definitions/dataFileReferencesList"
                },
                "models" : {
                  "$ref" : "#/definitions/modelReferencesList"
                },
                "sops" : {
                  "$ref" : "#/definitions/sopReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                }
              },
              "required" : [ "creators", "submitter", "people", "projects", "studies", "assays", "data_files", "models", "sops", "publications" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "modelResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/modelType"
            },
            "attributes" : {
              "$ref" : "#/definitions/modelAttributes"
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "creators" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "submitter" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "investigations" : {
                  "$ref" : "#/definitions/investigationReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                }
              },
              "required" : [ "creators", "submitter", "people", "projects", "investigations", "studies", "assays", "publications" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "organismResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/organismType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "concept_uri" : {
                  "$ref" : "#/definitions/uriString"
                },
                "ontology_id" : {
                  "$ref" : "#/definitions/nonEmptyString"
                }
              },
              "required" : [ "title", "concept_uri", "ontology_id" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "models" : {
                  "$ref" : "#/definitions/modelReferencesList"
                }
              },
              "required" : [ "projects", "assays", "models" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "personResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/peopleType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "avatar" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "description" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "first_name" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "last_name" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "web_page" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "orcid" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "mbox_sha1sum" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "expertise" : {
                  "$ref" : "#/definitions/nullableNonEmptyStringList"
                },
                "tools" : {
                  "$ref" : "#/definitions/nullableNonEmptyStringList"
                }
              },
              "required" : [ "title", "first_name", "last_name", "mbox_sha1sum" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "institutions" : {
                  "$ref" : "#/definitions/institutionReferencesList"
                },
                "investigations" : {
                  "$ref" : "#/definitions/investigationReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "data_files" : {
                  "$ref" : "#/definitions/dataFileReferencesList"
                },
                "models" : {
                  "$ref" : "#/definitions/modelReferencesList"
                },
                "sops" : {
                  "$ref" : "#/definitions/sopReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                },
                "presentations" : {
                  "$ref" : "#/definitions/presentationReferencesList"
                },
                "events" : {
                  "$ref" : "#/definitions/eventReferencesList"
                }
              },
              "required" : [ "projects", "institutions", "investigations", "studies", "assays", "data_files", "models", "sops", "publications", "presentations", "events" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "presentationResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/presentationType"
            },
            "attributes" : {
              "$ref" : "#/definitions/contributedTypeAttributes"
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "creators" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "submitter" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "investigations" : {
                  "$ref" : "#/definitions/investigationReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                },
                "events" : {
                  "$ref" : "#/definitions/eventReferencesList"
                }
              },
              "required" : [ "creators", "submitter", "people", "projects", "investigations", "studies", "assays", "publications", "events" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "programmeResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/programmeType"
            },
            "attributes" : {
              "$ref" : "#/definitions/programmeDataType"
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "institutions" : {
                  "$ref" : "#/definitions/institutionReferencesList"
                },
                "investigations" : {
                  "$ref" : "#/definitions/investigationReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "data_files" : {
                  "$ref" : "#/definitions/dataFileReferencesList"
                },
                "models" : {
                  "$ref" : "#/definitions/modelReferencesList"
                },
                "sops" : {
                  "$ref" : "#/definitions/sopReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                },
                "presentations" : {
                  "$ref" : "#/definitions/presentationReferencesList"
                },
                "events" : {
                  "$ref" : "#/definitions/eventReferencesList"
                }
              },
              "required" : [ "people", "projects", "institutions", "investigations", "studies", "assays", "data_files", "models", "sops", "publications", "presentations", "events" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "projectResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/projectType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "avatar" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "description" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "web_page" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "wiki_page" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "default_policy" : {
                  "$ref" : "#/definitions/policy"
                }
              },
              "required" : [ "title", "description", "web_page", "wiki_page" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "organisms" : {
                  "$ref" : "#/definitions/organismReferencesList"
                },
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "institutions" : {
                  "$ref" : "#/definitions/institutionReferencesList"
                },
                "investigations" : {
                  "$ref" : "#/definitions/investigationReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "data_files" : {
                  "$ref" : "#/definitions/dataFileReferencesList"
                },
                "models" : {
                  "$ref" : "#/definitions/modelReferencesList"
                },
                "sops" : {
                  "$ref" : "#/definitions/sopReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                },
                "presentations" : {
                  "$ref" : "#/definitions/presentationReferencesList"
                },
                "events" : {
                  "$ref" : "#/definitions/eventReferencesList"
                },
                "programmes" : {
                  "$ref" : "#/definitions/programmeReferencesList"
                }
              },
              "required" : [ "organisms", "people", "institutions", "investigations", "studies", "assays", "data_files", "models", "sops", "publications", "presentations", "events", "programmes" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "publicationResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/publicationType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "journal" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "published_date" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "doi" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "pubmed_id" : {
                  "type" : "number"
                },
                "abstract" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "citation" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "link_to_pub" : {
                  "$ref" : "#/definitions/nullableUriString"
                },
                "authors" : {
                  "$ref" : "#/definitions/nullableNonEmptyStringList"
                },
                "policy" : {
                  "$ref" : "#/definitions/policy"
                }
              },
              "required" : [ "title", "journal", "published_date", "pubmed_id", "citation", "link_to_pub" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "investigations" : {
                  "$ref" : "#/definitions/investigationReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "data_files" : {
                  "$ref" : "#/definitions/dataFileReferencesList"
                },
                "models" : {
                  "$ref" : "#/definitions/modelReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                },
                "presentations" : {
                  "$ref" : "#/definitions/presentationReferencesList"
                },
                "events" : {
                  "$ref" : "#/definitions/eventReferencesList"
                }
              },
              "required" : [ "people", "projects", "investigations", "studies", "assays", "data_files", "models", "publications", "presentations", "events" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "sopResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/sopType"
            },
            "attributes" : {
              "$ref" : "#/definitions/contributedTypeAttributes"
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "creators" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "submitter" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "investigations" : {
                  "$ref" : "#/definitions/investigationReferencesList"
                },
                "studies" : {
                  "$ref" : "#/definitions/studyReferencesList"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                }
              },
              "required" : [ "creators", "submitter", "people", "projects", "investigations", "studies", "assays", "publications" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "studyResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "$ref" : "#/definitions/nonEmptyString"
            },
            "type" : {
              "$ref" : "#/definitions/studyType"
            },
            "attributes" : {
              "type" : "object",
              "properties" : {
                "tags" : {
                  "$ref" : "#/definitions/nullableNonEmptyStringList"
                },
                "title" : {
                  "$ref" : "#/definitions/nonEmptyString"
                },
                "description" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "experimentalists" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "person_responsible_id" : {
                  "$ref" : "#/definitions/nullableNonEmptyString"
                },
                "policy" : {
                  "$ref" : "#/definitions/policy"
                }
              },
              "required" : [ "title", "person_responsible_id" ],
              "additionalProperties" : false
            },
            "relationships" : {
              "type" : "object",
              "properties" : {
                "creators" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "submitter" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "people" : {
                  "$ref" : "#/definitions/peopleReferenceList"
                },
                "projects" : {
                  "$ref" : "#/definitions/projectReferencesList"
                },
                "investigation" : {
                  "$ref" : "#/definitions/investigationSingletonReference"
                },
                "assays" : {
                  "$ref" : "#/definitions/assayReferencesList"
                },
                "data_files" : {
                  "$ref" : "#/definitions/dataFileReferencesList"
                },
                "models" : {
                  "$ref" : "#/definitions/modelReferencesList"
                },
                "sops" : {
                  "$ref" : "#/definitions/sopReferencesList"
                },
                "publications" : {
                  "$ref" : "#/definitions/publicationReferencesList"
                }
              },
              "required" : [ "creators", "submitter", "people", "projects", "investigation", "assays", "data_files", "models", "sops", "publications" ],
              "additionalProperties" : false
            },
            "links" : {
              "$ref" : "#/definitions/linksType"
            },
            "meta" : {
              "$ref" : "#/definitions/metaType"
            }
          },
          "required" : [ "id", "type", "attributes", "relationships", "links", "meta" ],
          "additionalProperties" : false
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        }
      },
      "required" : [ "data", "jsonapi" ],
      "additionalProperties" : false
    },
    "assaysResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/assaySkeletons"
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        },
        "meta" : {
          "$ref" : "#/definitions/baseMetaType"
        }
      },
      "required" : [ "data", "jsonapi", "meta" ],
      "additionalProperties" : false
    },
    "dataFilesResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/dataFileSkeletons"
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        },
        "meta" : {
          "$ref" : "#/definitions/baseMetaType"
        }
      },
      "required" : [ "data", "jsonapi", "meta" ],
      "additionalProperties" : false
    },
    "eventSkeleton" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/eventType"
        },
        "attributes" : {
          "type" : "object",
          "properties" : {
            "title" : {
              "$ref" : "#/definitions/nonEmptyString"
            }
          },
          "required" : [ "title" ],
          "additionalProperties" : false
        },
        "links" : {
          "$ref" : "#/definitions/linksType"
        }
      },
      "required" : [ "id", "type", "attributes", "links" ],
      "additionalProperties" : false
    },
    "eventSkeletons" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/eventSkeleton"
      }
    },
    "eventsResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/eventSkeletons"
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        },
        "meta" : {
          "$ref" : "#/definitions/baseMetaType"
        }
      },
      "required" : [ "data", "jsonapi", "meta" ],
      "additionalProperties" : false
    },
    "institutionSkeleton" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/institutionType"
        },
        "attributes" : {
          "type" : "object",
          "properties" : {
            "title" : {
              "$ref" : "#/definitions/nonEmptyString"
            }
          },
          "required" : [ "title" ],
          "additionalProperties" : false
        },
        "links" : {
          "$ref" : "#/definitions/linksType"
        }
      },
      "required" : [ "id", "type", "attributes", "links" ],
      "additionalProperties" : false
    },
    "institutionSkeletons" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/institutionSkeleton"
      }
    },
    "institutionsResponse" : {
      "type" : "object",
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/institutionSkeletons"
        },
        "jsonapi" : {
          "$ref" : "#/definitions/JsonApiVersion"
        },
        "meta" : {
          "$ref" : "#/definitions/baseMetaType"
        }
      },
      "required" : [ "data", "jsonapi", "meta" ],
      "additionalProperties" : false
    },
    "investigationSkeleton" : {
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/nonEmptyString"
        },
        "type" : {
          "$ref" : "#/definitions/investigationType"
        },
        "attributes" : {
          "type" : "object",
          "properties" : {
            "title" : {
              "$ref" : "#/definitions/nonEmptyString"
            }
          },
          "required" : [ "title" ],
          "additionalProperties" : false
        },
        "links" : {
          "$ref" : "#/definitions/linksType"
        }
      },
      "required" : [ "id", "type", "attributes", "links" ],
      "additionalProperties" : false
    },
    "investigationSkeletons" : {
      "type" : "array",
      "minItems" : 0,
      "uniqueItems" : true,
      "items" : {
        "$ref" : "#/definitions/investigationSkeleton"
      }
    },
    "investigationsResponse" : {
[...]
