<label class="required"><%= "Sample Source" %></label>
<select name="sample_sources_id" id="sample_sources_id" class="form-control">
  <option value="">Please select a sample source</option>
  <option value="1">Animal tissue</option>
  <option value="2">Cell line</option>
  <option value="3">Human tissue</option>
  <option value="4">Plant</option>
</select>