<%= panel('Dashboard', id: 'dashboard', body_options: { class: 'feed' }) do %>


  <% if can_create_projects? %>
    <div class="col-sm-6 col-lg-4" style="margin: 5px"  data-step="1" data-intro="By pressing this button you can start creating a project.">
      <div class="card" style="border:1px #ccc solid;" >
        

        <div class="card-body" style="background-color: #f0f4ff; padding: 10px">
          <h5 class="card-title"><h4>Create a project</h4></h5>
          <p class="card-text"><i>You can create a project</i></p>
          <a href="/projects/new" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i><strong> CREATE A PROJECT</strong></a>
        </div>
      </div>
    </div>
  <% end %>


      <div class="col-sm-6 col-lg-4" style="margin: 5px"  data-step="2" data-intro="You can explore projects, their investigations, studies and assays">
        <div class="card" style="border:1px #ccc solid;">
         
          <div class="card-body" style="background-color:#f0f4ff; padding: 10px">
            <h5 class="card-title"><h4>Explore existing projects</h4></h5>
            <p class="card-text"><i>You can explore projects</i></p>
            <a href="/projects" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i><strong> EXPLORE PROJECTS</strong></a>
          </div>
        </div>
      </div>


<% end %>

